<div class="container top-spacer">

<div class="row">

    <div class="col s6">
        <h4 class="pink-text text-lighten-2" lang="{{lang}}">{{gval.edit[langIndex()]}} : {{gval.finance[langIndex()]}}</h4>
    </div>
    <div class="col s6">
        <a class="btn btn pink darken-1 right" ui-sref="app.finance()" lang="{{lang}}">{{gval.back[langIndex()]}}</a>
    </div>
    
</div>

    <form ng-submit="vm.update()">

    <div class="row">
        <div class="col s6 input-field">
                <input id="fnNameEN" type="text" ng-model="vm.fnr.nameEN">
                <label for="fnNameEN" class="active">Finance Name EN</label>
            </div>

            <div class="col s6 input-field">
                <input id="fnNameAR" class="validate" type="text" lang="ar" ng-model="vm.fnr.nameAR">
                <label for="fnNameAR" class="active" lang="ar">Finance Name AR</label>
            </div>
    </div>


    <div class="row">
        <div class="col s6 input-field">
            <input type="email" ng-model="vm.fnr.email" id="email" value="">
            <label for="email" class="active">Email</label>
        </div>

        <div class="col s6 input-field">
            <input type="text" ng-model="vm.fnr.mobile" id="mobile">
            <label for="mobile" class="active">Mobile</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn pink darken-1" lang="{{lang}}">{{gval.update[langIndex()]}}</button>
        </div>
    </div>

    </form>



</div>
