<div class="container top-spacer">

<div class="col s12">
    <div class="waves-effect waves-light btn right pink darken-1">Add New</div>
</div>
    


<table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Min. Downpayment</th>
                    <th>Max. Financing</th>
                    <th>Terms</th>
                    <th>Markup</th>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>

                
                <tr>
                    <td>01</td>
                    <td>10%</td>
                    <td>50 M</td>
                    <td>5 years</td>
                    <td>9.5 %</td>

                    <td>
                        <a class='dropdown-button btn waves-effect waves-light pink darken-1' href='#' data-activates='actDrop'>Options<i class="material-icons right">arrow_drop_down</i></a>
                                  <!-- Dropdown Structure -->
                                 <ul id='actDrop' class='dropdown-content'>
                                    
                                    <li><a href="#!">Details</a></li>
                                    <li><a href="plans.php">Plans</a></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Remove</a></li>
                                    <li><a href="#!">Disable</a></li>
                                    
                                </ul>
                    </td>
                    

                </tr>

                
                

                
                
                </tbody>
            </table>



            </div>
