<div class="container top-spacer">

    <div class="row">
        <div class="col s8">
            <h5 class="pink-text text-lighten-2" lang="{{lang}}">{{ 'Add Manage Slides' }}</h5>
        </div>

        <div class="col s4">
            <div class="waves-effect waves-light btn right pink darken-1">Back</div>
        </div>       
    </div>


    <div class="row">
        <div class="col s12">
            <div dropzone="dropzoneConfig">
                 
            </div>
        </div>
    </div>





    






</div>
